<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-08"/>
		<title>Display Songs</title>
		<style type="text/css">
		iframe
		{
			height:100px;
			width:500px;
		}
		</style>
		<link rel="stylesheet" th:href="@{/css/displaySongs.css}">
	</head>
	<body>
		<table border>
			<tr>
			<th>Name</th>
			<th>Songs</th>
			</tr>
			
			<tr th:each="plist:${allPlaylists}">
				<td th:text="${plist.name}"></td>
				<td>
					<ul>
						<li th:each="song:${plist.songs}">
							<span th:text="${song.name}"></span>
							<audio controls>
								<source th:src="${song.link}" type="audio/mpeg"/>
							</audio>
						</li>
					</ul>
				</td>
			</tr>
			
		</table>
	</body>
</html>